:global(body)
  font-family Roboto


:global(::-webkit-scrollbar)
  height 8px
  width 6px

:global(::-webkit-scrollbar-track-piece)
  background #eee

:global(::-webkit-scrollbar-thumb:vertical),
:global(::-webkit-scrollbar-thumb:horizontal)
  background #ccc
  border-radius 20px