.form
  padding 0 20px 20px 20px
  margin 20px
  min-width 300px

  &-header
    padding 20px 0
    display flex
    justify-content space-between
    align-items center

  &-content
    &.loading
      opacity 0.5
      pointer-events none

  &-fields
    padding 15px 0
    display grid
    gap 15px

  &-buttons
    display flex
    justify-content space-between