.form
  padding 20px
  margin 20px
  min-width 300px

  &-header
    padding 10px 0
    margin-bottom 10px
    display flex
    justify-content space-between
    align-items center

  &-content
    &.loading
      opacity 0.5
      pointer-events none

  &-field
    margin-bottom 15px

  &-buttons
    display flex
    justify-content space-between