.content
  padding 0 20px 30px 20px

.header
  display flex
  align-items center
  justify-content space-between
  box-shadow: 4px 13px 21px -12px rgba(0, 0, 0, 0.35);
  padding 20px
  margin-top 10px
  flex-shrink 0